<!-- app/views/attributes/_atr_value_fields.html.erb -->
<div class="atr-value-fields">
  <%= f.label :value %>
  <%= f.text_field :value %>
  <%= f.hidden_field :_destroy %>
  <%= link_to 'Remove', '#', class: 'remove-atr-value' %>
</div>
