<div id="<%= dom_id atribute %>">
  <tr>
    <td class="px-4 py-2 border border-gray-300"><%= atribute.title %></td>

    <td class="px-4 py-2 border border-gray-300">

  <% if action_name != "show" %>
    <%= link_to "Show this atribute", atribute, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this atribute', edit_atribute_path(atribute), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
    </td>


  </tr>
</div>
