<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing atribute</h1>

  <%= render "form", atribute: @atribute %>

  <%= link_to "Show this atribute", @atribute, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to atributes", atributes_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
