<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Atributes</h1>
    <%= link_to 'New atribute', new_atribute_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div class="overflow-x-auto">
    <table class="table-auto w-full mt-5">
      <thead>
      <tr>
        <th class="px-4 py-2 border">Attribute type</th>
        <th class="px-4 py-2 border">Action</th>
<!--        <th class="px-4 py-2 border">Stock</th>-->
<!--        <th class="px-4 py-2 border">Specification</th>-->
      </tr>
      </thead>
      <tbody>

    <%= render @atributes %>

      </tbody>
    </table>
  </div>
</div>
